.myslider{
	max-width:1000px;
	margin: 0 auto;
	padding-bottom:30px;
}
.myslider img {
  height: 200px;
}
.highlights {
	background-color:#192024;
}
.wrapper{
	min-height: 100%;
	position: relative;
	padding-bottom:205px;
}

.footer-wrap{
	position:absolute;
	bottom:0;
	width:100%;
	left:0;
	max-height:205px;
}

html, body {
	height:100%;
	background-color:white;
}

.contact-section{
	height:100%;
}
.myfooter{
	background-color:#edeff2;
}
