/* NAVBAR */
.navbar{
	padding: 0px 16px 0px 32px;
}
.navbar-brand{
	padding:0px;
}

.navbar-default .navbar-nav>li>a {
 	color: #066638;
}
.navbar-default .navbar-nav>.active>a{
 	color: #066638;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #0bc169;
}
.navbar ul {
	padding-right: 30px;
	font-size: 18px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

/* HERO */
.jumbotron{
	height:500px;
	background-image: url('/static/img/next-gen-hero.png');
	background-size: cover;
	margin-bottom:0px;
}
h1.jumbotron-heading{
	color:white;
	text-shadow: 0px 0px 5px #033d21;
}

a.btn.btn-lg{
	color:white;
	background-color:#08914f;
}
a.btn.btn-lg:hover{
	background-color:#0bc169;
}
.col-centered {
    float: none;
    margin: 0 auto;
} 
.hero-button{
	margin:5px;
	width:150px;
}

/* BODY */
body {
	padding-top: 60px;
	max-width:100%;
	overflow-x:hidden;
/*	background-image: url('/static/img/next-gen-background.png');
*/	background-attachment: fixed;
	background-size:auto;
	background-repeat: repeat-y;
}
p {
	color: grey;
}
h1 {
	color: #066638;
}
.offerings-section{
	background-color: #f8f8f8;
	padding: 0px 0px 100px 0px;
	text-align: center;
}
.offering{
	width:300px;
	padding:20px;
}
.offerings-img{
	width:100%
}
.offerings-header{
	color: #066638;
}
.offerings-text{

}
.mission-section{
	padding-bottom:50px;
}
.mission-padding{
	padding-top:40px;
	padding-bottom:40px;
}
.mission-header{
	height:200px;
	color: #066638;
/*	text-shadow: 1px 1px 3px grey;
*/}
.green-line{
	height:10px;
	background-color: #066638;
}
.mission-header-text-wrapper{
	padding: 50px 0px 50px 0px;
	color: #066638;
}
.mission-section-header{
	color: #066638;
/*	text-shadow: 1px 1px 1px grey;
*/}
.mission-img{
	height:200px;
	width:200px;
}
.mission-text{
	padding-bottom:20px;
}
.mission-link{
	float: right;
}
.mission-img-wrapper{
	text-align:center;
}
.testimonials-section{
	background-color: #f8f8f8;
	padding: 50px 0px 100px 0px;
	text-align: center;
}
.btn-primary{
	background-color: #08914f;
	border-color: #08914f;
}
.btn-primary:hover{
	background-color: #0bc169;
	border-color: #0bc169;
}
hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #08914f;
    color: #333;
    text-align: center;
}
hr:after {
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

/* FOOTER */
.footer-wrap{
	padding-top:0px;
	width:100%;
	left:0;
	max-height:205px;
}
.footer-upper{
	background-color:#edeff2;
}
.footer-text-wrapper{
	padding-top:15px;
	padding-bottom:15px;
}
.footer-lower{
	background-color:#383838;
}
.footer-lower-text-wrapper{
	text-align:center;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
}

/* SHOWCASE */
.page-head{
	padding:50px 0px 50px 0px;
	text-align:center;
}
.items-container{
	text-align:center;
	padding-bottom:50px;
}
.item{
	width:250px;
	padding: 20px;
	display:inline-block;
	text-align:left;
}
.item-text-wrapper{
	padding:5px;
}
.item-thumbnail{
	width:100%;
}
.rise-hover{
	box-shadow:0px 0px 0px grey;
}
.rise-hover:hover{
	box-shadow:1px 1px 5px grey;
	transition: box-shadow .2s;
	-webkit-transition: box-shadow .2s;
}
.no-underline:hover{
	text-decoration: none;
}

/* AGE CHECK */
 .age-check{
 	position:fixed;
 	top:0px;
 	left:0px;
 	width:100%;
  	height:100%;
 	color:white;
 	text-transform:uppercase;
 	background: rgba(37,37,37,.97);
 	z-index:1001;
 }
.age-check p{
	color:white;
	font-size:38px;
	margin-bottom:20px;
}
.age-check .text-wrapper{
	text-align:center;
	position:relative;
	top:50%;
}
.btn-age-check{
	margin:10px;
	width:100px;
}

