{% extends "templates/base.html" %}
{% block content %}
<div class="container">
  <div class="col-md-6 col-centered">
    <h1 class="bd-featurette-title">Get in Touch</h1>
    <p style="padding-bottom:80px;" class="bd-lead">Here's how to contact us</p>
    <div style="display:inline-block">
    	<h4>Need some help?</h4>
    	<h3>Devin Cooley</h3>
    	<p>(541) 579-1617</p>
    	<p>dcooley1350@gmail.com</p>
    </div>
    <div style="display:inline-block; float:right">
    	<h4>Talk to our developer</h4>
    	<h3>John Cooley</h3>
    	<p>(541) 515-1617</p>
    	<p>johnyc2130@gmail.com</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  function activeNav(){
    document.getElementById("contact-nav-container").className += "active";
  }
  window.onload = activeNav;
</script>
{% endblock %}