{% extends "templates/sites/heartoftv/heartoftv_base.html" %}
{% load static %}

{% block content %}

<!-- BANNER -->
<section class="jumbotron text-center">
	<div class="container">
		<h1 class="jumbotron-heading">Heart Of The Valley</h1>
		<div class="row">
			<div class="col-sm-6 col-centered">
				<p class="lead text-muted">We'll sell you plant babies!</p>
			</div>
		</div>
		<p>
			<a href="/showcase/{{ site_name }}" class="btn btn-lg">Show me what you got!</a>
			<a href="/contact/{{ site_name }}" class="btn btn-lg">I want some of those!</a>
		</p>
	</div>
</section>

<!-- MAIN CONTENT -->
<div class="container">
	<!-- ABOUT US -->
	<div class="row topic-padding">
		<div class="col-sm-4">
			<img src="{% static '/img/item_img_placeholder.png' %}" height="300" width="250">
		</div>
		<div class="col-sm-8">
			<h2>Topic 1 - About Our Company and Practice</h2>
			<hr>
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>
	</div>
	<!-- SHOWCASE -->
	<div class="row topic-padding">
		<div class="col-sm-8">
			<h2>Topic 2 - Our Inventory</h2>
			<hr>
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>
		<div class="col-sm-4">
			<img src="{% static '/img/item_img_placeholder.png' %}" height="300" width="250">
		</div>
	</div>
	<!-- CONTACT US -->
	<div class="row topic-padding">
		<div class="col-sm-4">
			<img src="{% static '/img/item_img_placeholder.png' %}" height="300" width="250">
		</div>
		<div class="col-sm-8">
			<h2>Topic 2 - Contact us</h2>
			<hr>
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
		</div>
	</div>
</div>


<script type="text/javascript">
  function activeNav(){
    document.getElementById("home-nav-container").className += "active";
  }
  window.onload = activeNav;
</script>

{% endblock %}
