{% extends 'templates/sites/sunstonefarms/sunstonebase.html' %}
{% load static %}
{% block content %}

<div class="contact-section">
  <div class="w-container">
    <div class="section-title-group">
      <h2 class="centered section-heading">Get In Touch</h2>
      <div class="center section-subheading">Whether you&#x27;re looking to make an order or learn more about our products and practice, feel free to reach out. Below are some options.</div>
    </div>
    <div class="content contact-content">
      <h3>Sales</h3>
      <hr>
      <h4>Mike O'brien</h4>
      <p><strong>Email: </strong>mike@sunstonefarmsoregon.com</p>
      <p><strong>Phone: </strong>+1-541-335-1311</p>
    </div>
    <div class="content contact-content">
      <h3>Grow Master</h3>
      <hr>
      <h4>Devin Cooley</h4>
      <p><strong>Email: </strong>dc@sunstonefarmsoregon.com</p>
      <p><strong>Phone: </strong>+1-541-579-1617</p>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/webflow.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/sunstonemain.js' %}"></script>

<script type="text/javascript">
  ageVerify();
  function addNav(){
    document.getElementById('contactnav').className += " w--current";
  }
  window.onload = addNav;
</script>

{% endblock %}