{% extends 'templates/sites/sunstonefarms/sunstonebase.html' %}
{% load static %}
{% block content %}

<div class="centered hero-section">
  <div data-ix="new-interaction" class="w-container">
    <h1 data-ix="fade-in-bottom-page-loads" class="hero-heading">Sunstone Farms</h1>
    <div data-ix="fade-in-bottom-page-loads" class="hero-subheading">Pot is tight</div>
    <div data-ix="fade-in-bottom-page-loads"><a href="/showcase/{{site_name}}" class="button">Show Me</a><a href="/contact/{{site_name}}" class="button">I Want Some</a></div>
  </div>
</div>
<div class="highlights">
  <div class="section-title-group">
  <h2 style="padding-top:30px;" class="centered section-heading white">New Releases</h2>
  <div class="center section-subheading off-white">We just cropped these beauties</div>
  </div>
  <div class="myslider">
    {% for highlight in highlights %}
      <div>
        <img src="{{ highlight.thumbnail }}" />
      </div>
    {% endfor %}
  </div>
</div>
<div class="section">
  <div class="w-container">
    <div class="section-title-group"><img src="{% static 'images/GraphicLogo.svg' %}" width="101.5" class="image">
      <h2 class="centered section-heading">Sunstone Farms</h2>
      <div style="width:100%" class="center section-subheading">Learn more about who we are and what we do</div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-4">
        <div class="white-box"><img src="{% static 'images/feather-15-white.svg' %}" class="grid-image">
          <h3 class="heading">About Us</h3>
          <p class="paragraph">We are working on a full virtual tour of our operation! Please check back soon.</p>
        </div>
      </div>
      <div class="w-col w-col-4">
        <a class="no-underline" href="/showcase/{{site_name}}">
          <div class="white-box">
            <img src="{% static 'images/feather2-17-white.svg' %}" width="210" class="grid-image">
          <h3 class="heading">Our Products</h3>
          <p class="paragraph">We update our inventory regularly with images, strains, descriptions and lab results.</p>
          </div>
        </a>
      </div>
      <div class="w-col w-col-4">
        <a class="no-underline" href="/contact/{{site_name}}">
          <div class="white-box">
            <img src="{% static 'images/feather2-22-white.svg' %}" class="grid-image">
            <h3 class="heading">Get In Touch</h3>
            <p class="paragraph">Contact us for quotes, pricing, to make an order, or anything else. We are friendly, we promise.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--   <div class="accent section">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="centered section-heading white">services</h2>
        <div class="center off-white section-subheading">This is some text inside of a div block.</div>
      </div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="transparent white-box"><img src="{% static 'images/city-scape.jpg' %}" sizes="(max-width: 767px) 100vw, (max-width: 991px) 324px, 430px' %}" class="fullwidth-image">
            <h3 class="white-text">SERVICES one</h3>
            <p class="white-text">Tacos mixtape literally chillwave food truck organic. Gluten-free yr 3 wolf moon whatever tumeric offal normcore lyft four dollar toast. Kinfolk schlitz disrupt woke.</p><a href="#" class="hollow-button">Learn more</a></div>
        </div>
        <div class="w-col w-col-6">
          <div class="transparent white-box"><img src="{% static 'images/photo-1416400639808-f41f0c149b09.jpg' %}" sizes="(max-width: 767px) 100vw, (max-width: 991px) 324px, 430px" class="fullwidth-image">
            <h3 class="white-text">SERVICES two</h3>
            <p class="white-text">Tacos mixtape literally chillwave food truck organic. Gluten-free yr 3 wolf moon whatever tumeric offal normcore lyft four dollar toast. Kinfolk schlitz disrupt woke.</p><a href="#" class="hollow-button">Learn more</a></div>
        </div>
      </div>
    </div>
  </div> -->
<!--   <div class="section">
    <div class="w-container">
      <div class="section-title-group">
        <h2 class="centered section-heading">Tab Section</h2>
        <div class="center section-subheading">This is some text inside of a div block.</div>
      </div>
      <div data-duration-in="300" data-duration-out="100" class="tabs-wrapper w-tabs">
        <div class="tab-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="button tab w--current w-inline-block w-tab-link">
            <div>Tab Button 1</div>
          </a>
          <a data-w-tab="Tab 2" class="button tab w-inline-block w-tab-link">
            <div>Tab Button 2</div>
          </a>
          <a data-w-tab="Tab 3" class="button tab w-inline-block w-tab-link">
            <div>Tab Button 3</div>
          </a>
        </div>
        <div class="w-tab-content">
          <div data-w-tab="Tab 1" class="w--tab-active w-tab-pane">
            <div><img src="{% static 'images/photo-1422222948315-28aadb7a2cb8.jpg' %}" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="fullwidth-image">
              <h2 class="heading-2">Some Title Here</h2>
              <p class="paragraph-2">Normcore jianbing polaroid sartorial. Flannel mumblecore mlkshk pitchfork, brooklyn bushwick migas.<br>Bicycle rights lomo shaman +1 raw denim truffaut leggings artisan. Chartreuse beard taiyaki readymade synth kinfolk vinyl messenger bag. Waistcoat fixie tbh messenger bag, ethical meggings tattooed blue bottle fingerstache taiyaki retro heirloom.</p>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div><img src="{% static 'images/5fcb0a55.jpg' %}" sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="fullwidth-image">
              <h2>Heading</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. <br>Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.<br>Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div><img src="{% static 'images/5cf8b62b.jpg' %}" `sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px" class="fullwidth-image">
              <h2>Heading</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. <br>Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. <br>Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/webflow.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/sunstonemain.js' %}"></script>

<script type="text/javascript">
  ageVerify();
  function addNav(){
    document.getElementById('homenav').className += " w--current";
  }
  window.onload = addNav;
  $('.myslider').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
  });
</script>

{% endblock %}