{% extends 'templates/sites/sunstonefarms/sunstonebase.html' %}
{% load static %}
{% block content %}

<div class="showcasesection">
  <div class="section-title-group">
    <h2 class="centered section-heading">Inventory</h2>
    <div class="center section-subheading">Check out what we&#x27;ve got to offer...</div>
    <p class="paragraph-6"><strong>Updated regularly with new products and lab results. Get in touch to learn more or request an order.</strong></p>
  </div>
  <div class="showcasediv">
  {% for item in items %}
    <div class="itemdiv">
      <a href="#" class="lightbox-link w-inline-block w-lightbox">
        <img src="{{ item.thumbnail }}">
        <script type="application/json" class="w-json">{
        "group": "Showcase",
        "items": [
          {
            "width": 2701,
            "caption": "{{ item.name }}",
            "height": 1801,
            "fileName": "{{ item.img_url }}",
            "origFileName": "{{ item.img_url }}",
            "url": "{{ item.img_url }}",
            "_id": "59cef8e2fb0edc0001b48784",
            "type": "image",
            "fileSize": 490702
          }]}
        </script>
      </a>
    <h4 class="itemname">{{ item.name }}</h4>
    <p class="itemdescription"><strong>Genetics:</strong> {{ item.genetics }}</p>
    <p class="itemdescription"><strong>Cannabinoids:</strong> {{ item.cannabinoids }}</p>
    <p class="itemdescription"><strong>Terpenes:</strong> {{ item.terpenes }}</p>
    <p class="itemdescription"><strong>Description:</strong> {{ item.description }}</p>
  </div>
{% endfor %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<script src="{% static 'js/webflow.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/sunstonemain.js' %}"></script>

<script type="text/javascript">
  ageVerify();
  function addNav(){
    document.getElementById('showcasenav').className += " w--current";
  }
  window.onload = addNav;
</script>

{% endblock %}