/* NAV BAR */
body { 
	padding-top: 60px;
}

.navbar {
	border-width: 2px;
	min-height: 0px;
}

#fadein{
	display:none;
}

.navbar a {
 color: #008040;
}
.navbar ul {
	padding: 10px;
	padding-right:100px;
}
.navbar li {
	padding-right:20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #00b359;
}
#navbar-brand-container {
    margin-top: 6px;
    margin-left: 20px;
}
#navbar-brand-container a {
    color: #004F2D;
}

/* BODY */
h1 {
	color: #004F2D;
}

h2 {
	color: #004F2D;
}
.bd-featurette-title {
	padding-top: 6rem;
	text-align: center;
	font-size: 40px;
}

.row {
/*	margin: 40px;
*/	background-color: #f8f8f8;
	padding: 40px;
	margin: 40px;
    border-radius: 25px;
    box-shadow: 4px 4px 2px grey;
    border-color: #e7e7e7;
    border-width: 2px;
    border-style: solid;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.bd-lead {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

#create-new-item-button{
	margin-left: 40px;
}
