{% extends "templates/sites/nextgen/nextgenbase.html" %}
{% load static %}

{% block content %}

<!-- HERO -->
<section class="jumbotron text-center">
	<div style="margin-top:60px" class="container">
		<div class="row">
			<div class="col-sm-6 col-centered">
				<h1 class="jumbotron-heading" data-aos="fade-down">Next Generation Nurseries</h1>

<!-- 				<p class="lead text-muted">We'll sell you plant babies!</p>
 -->			</div>
		</div>
		<p>
			<a href="/showcase/{{ site_name }}" class="btn btn-lg" data-aos="fade-right">Flower</a>
			<a href="/contact/{{ site_name }}" class="btn btn-lg" data-aos="fade-left">Greenhouses</a>
		</p>
	</div>
</section>

<!-- MAIN CONTENT -->
<div class="mission-header-wrapper">
</div>
<!-- <div class="mission-header" style="text-align:center;">
	<div class="mission-header-text-wrapper col-md-3">
		<h2>Our mission</h2>
		<hr>
	</div>
</div> -->

<div class="mission-section" class="container">
	<!-- MISSION SECTION -->
	<div class="row mission-padding">
		<div class="col-sm-3 col-sm-offset-2" data-aos="fade-right">
			<img class="mission-img" src="{% static '/img/handshake.png' %}" height="300" width="250">
		</div>
		<div class="col-sm-5" data-aos="fade-left">
			<h3 class="mission-section-header">Relationships are Everything</h3>
			<hr style="color:green">
			<p>We strive to establish and maintain strong relationships with fellow cannabis companies, supporting markets and our customers.</p>
			<a style="float:right" href="/contact/{{ site_name }}" class="btn btn-primary">Get in touch</a>
		</div>
	</div>
	<div class="row mission-padding">
		<div class="col-sm-5 col-sm-offset-2" data-aos="fade-right">
			<h3 class="mission-section-header">Cutting-edge Tech</h3>
			<hr>
			<p>We use innovative greenhouse technologies to grow indoor-quality flower without the carbon footprint of artificial lightning.</p>
			<a href="/contact/{{ site_name }}" class="btn btn-primary">View greenhouses</a>
		</div>
		<div class="col-sm-3" data-aos="fade-left">
			<img style="float:right"class="mission-img" src="{% static '/img/greenhouse.png' %}" height="300" width="250">
		</div>
	</div>
	<div class="row mission-padding">
		<div class="col-sm-3 col-sm-offset-2" data-aos="fade-right">
			<img class="mission-img" src="{% static '/img/growth.png' %}" height="300" width="250">
		</div>
		<div class="col-sm-5" data-aos="fade-left">
			<h3 class="mission-section-header">Quality Products</h3>
			<hr>
			<p>We provide our fellow farmers and dispensaries with the highest quality clones, free of disease and harmful pesticides.</p>
			<a style="float:right" href="/contact/{{ site_name }}" class="btn btn-primary">Check out products</a>
		</div>
	</div>
</div>


<script type="text/javascript">
  function activeNav(){
    document.getElementById("home-nav-container").className += "active";
  }
  window.onload = activeNav;
</script>

{% endblock %}
