<!DOCTYPE html>
<html lang="en">
<head>
  <title>Next Generation Nurseries</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">

  {% load static %}
  <link rel="stylesheet" href="{% static '/css/nextgen.style.css' %}">
<!--   <link rel="icon" type="image/png" href="{% static '/img/sunstone_favicon_32_transparent.png' %}"/>
 -->

</head>
<body>

<!-- NAV BAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" id="nav-container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/">
      <img src="{% static '/img/ngn_logo_60px.png' %}" height="61px">
    </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li role="presentation" id="home-nav-container"><a href="/sites/{{ site_name }}">Home</a></li>
        <li role="presentation" id="showcase-nav-container"><a href="/showcase/{{ site_name }}">Flower</a></li>
        <li role="presentation" id="contact-nav-container"><a href="/nextgen/greenhouses/">Greenhouses</a></li>
        <li role="presentation" id="contact-nav-container"><a href="https://heartofthevalleyclones.com/showcase/">Clones</a></li>
        <li role="presentation" id="contact-nav-container"><a href="/contact/{{ site_name }}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->

{% block content %}
{% endblock %}

<!-- FOOTER -->
<div class="footer-wrap">
  <div class="footer-upper">
    <div class="container">
      <div class="row footer-text-wrapper">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h4>Powered by Greenbox</h4>
          <p>This website was created by Greenbox Branding Inc. A branding company geared towards the marijuana industry, based out of Eugene, Oregon. We handle a range of branding needs include photography, design, and web development. Visit our website <a href="https://www.greenboxbranding.com">here</a>.</p>
        </div>
        <div class="col-sm-2"></div>
<!--         <div class="spc w-col w-col-4">
          <h5 class="heading-4">useful links</h5><a href="#" class="footer-link">Phasellus gravida semper nisi</a><a href="#" class="footer-link">Suspendisse nisl elit</a><a href="#" class="footer-link">Dellentesque habitant morbi</a><a href="#" class="footer-link">Etiam sollicitudin ipsum</a></div> -->
<!--         <div class="w-col w-col-4">
          <h5 class="heading-5">social</h5>
          <div class="footer-link-wrapper w-clearfix"><img src="{% static 'images/social-18.svg' %}" width="20" class="info-icon"><a href="#" class="footer-link with-icon">Twitter</a></div>
          <div class="footer-link-wrapper w-clearfix"><img src="{% static 'images/social-03.svg' %}" width="20" class="info-icon"><a href="#" class="footer-link with-icon">Facebook</a></div>
          <div class="footer-link-wrapper w-clearfix"><img src="{% static 'images/social-11.svg' %}" width="20" class="info-icon"><a href="#" class="footer-link with-icon">Pinterest</a></div>
          <div class="footer-link-wrapper w-clearfix"><img src="{% static 'images/social-06.svg' %}" width="20" class="info-icon"><a href="#" class="footer-link with-icon">Google</a></div>
          <div class="footer-link-wrapper w-clearfix"><img src="{% static 'images/social-12.svg' %}" width="20" class="info-icon"><a href="#" class="footer-link with-icon">Webflow</a></div>
        </div> -->
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="footer-lower-text-wrapper">©2018 GreenBox Branding</div>
  </div>
</div>
<!-- END FOOTER -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
  <script type="text/javascript">
    //Stack menu when collapsed
    $('#myNavbar').on('show.bs.collapse', function() {
        $('.nav-pills').addClass('nav-stacked');
    });
    //Unstack menu when not collapsed
    $('#myNavbar').on('hide.bs.collapse', function() {
        $('.nav-pills').removeClass('nav-stacked');
    });
    AOS.init({
      duration: 1200,
    })
  </script>
</body>
</html>
