{% extends "templates/sites/nextgen/nextgenbase.html" %}
{% load static %}

{% block content %}
<div class="page container">
	<div class="page-head col-md-5 col-centered" data-aos="fade-up">
		<h1>Flower</h1>
		<hr>
		<p>Check out our selection below. Please contact us with any orders or inquiries.</p>
		<a href="/contact/{{ site_name }}" class="btn btn-primary" >Contact Us</a>
	</div>
	<div class="items-container col-md-12 col-centered">
		{% for item in items %}
		<div class="item rise-hover">
			<img class="item-thumbnail" src="{{item.thumbnail}}">
			<div class="item-text-wrapper">
				<h4 class="item_name">{{ item.name }}</h4>
				<p class="item_description"><strong>Genetics: </strong>{{ item.genetics }}</p>
				<p class="item_description"><strong>Cannabinoids: </strong>{{ item.cannabinoids }}</p>
				<p class="item_description"><strong>Terpenes: </strong>{{ item.terpenes }}</p>
				<p class="item_description"><strong>Description: </strong>{{ item.description }}</p>
			</div>
		</div>
		{% endfor %}


	</div>
</div>

<script type="text/javascript">
  function activeNav(){
    document.getElementById("showcase-nav-container").className += "active";
  }
  window.onload = activeNav;
</script>

{% endblock %}