.navbar{
	padding: 0px 16px 0px 32px;
}
.navbar-brand{
	padding:0px;
}

/* NAVBAR */
body {
padding-top: 60px;
}

.navbar-default .navbar-nav>li>a {
 	color: #066638;
}
.navbar-default .navbar-nav>.active>a{
 	color: #066638;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #0bc169;
}
.navbar ul {
	padding-right: 30px;
	font-size: 18px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

/* HERO */
h1.jumbotron-heading{
	color:#066638;
}

a.btn.btn-lg{
	color:white;
	background-color:#08914f;
}
a.btn.btn-lg:hover{
	background-color:#0bc169;
}
.col-centered {
    float: none;
    margin: 0 auto;
} 

/* BODY */
.topic-padding{
	padding-top:15px;
	padding-bottom:15px;
	vertical-align: center;
}

/* FOOTER */
.footer-wrap{
	padding-top:50px;
	width:100%;
	left:0;
	max-height:205px;
}
.footer-upper{
	background-color:#edeff2;
}
.footer-text-wrapper{
	padding-top:15px;
	padding-bottom:15px;
}
.footer-lower{
	background-color:#383838;
}
.footer-lower-text-wrapper{
	text-align:center;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
}